<%- include('../partials/header') %>




<br>
<div style="padding-left:400px">
<% data.forEach(d=>{ %>
  <div class="card" style="width: 50rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title"><%=d.ass.nameofA%></h5>
      <p class="card-text">Description: <%=d.ass.desc%></p>
      <p class="card-text">Deadline: <%=d.ass.deadline%></p>
      <p class="card-text">Feedback: <%=d.feedback%></p>
      <p class="card-text">Grade: <%=d.grade%></p>
      <a href=/student/courses/<%=course.name%>/assignments/<%=d.ass.nameofA%> class="btn btn-primary stretched-link">View</a>
    </div>
  </div>
<% }) %>
</div>




<%- include('../partials/footer') %>