<%- include('../partials/header') %>

<form class="" action=/<%=courseName%>/mail method="POST">

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <% cnt=1 %>
    <tbody>
     <%   a.forEach((a1)=>{ %>
            <tr>
                <th scope="row"><%=cnt%></th>
                <td><%=a1.username%></td>
                <td><%=a1.name%></td>
                <td><%=a1.email%></td>
                <td><input type="text" name=<%=a1.email%>></td>
            </tr>
            <% cnt+=1 %>
      <%  }) %>
    </tbody>
  </table>
  <div class="row" style="margin-left: 160px">
    <div class="col-sm-3"></div>
    <button type="submit" class="btn btn-primary px-4">Send Email invitaion</button>
</div>
</form>

  <%- include('../partials/footer') %>