<%- include('../partials/header') %>
<head>
  <style>
    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    </style>
</head>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="">Dashboard</a>
  <a href="/student/calendar">Calendar</a>
  <% courses.forEach(courseinfo=>{ %>
    <a href=/student/courses/<%=courseinfo.course.name%>><%=courseinfo.course.name%></a>
  <% }) %>
</div>
<div class="container" style="padding-left: 0px;margin-left: 20px;">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div style="display: inline-block;margin-left: 1000px;margin-right: 0px">





  <div class="btn-group">
    <a href="/student/join">
  <button type="button" class="btn btn-outline-secondary" style="margin-right: 20px;" >Join a course</button>
  </a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 20px">
      Student
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/student">Student</a>
        <a class="dropdown-item" href="/instructor">Instructor</a>
        <a class="dropdown-item" href="/ta">TA</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%=_doc.name%>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href=/student/profile>Profile</a>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
  </div>
</div>





</div>
</div>
<br>
<div style="padding-left:300px">
  <% courses.forEach(courseinfo=>{ %>
    <% var sty="width: " + courseinfo.assfinished.toString()+"%;"%>
    <% var n=courseinfo.assfinished.toString()%>
    <div class="card" style="width: 50rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><%=courseinfo.course.name%> </h5>
        <p class="card-text"><%=courseinfo.course.courseCode%>-<%=courseinfo.course.sem%>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%=n%>%" aria-valuenow="<%=n%>" aria-valuemin="0" aria-valuemax="100"><%=n%>%</div>
          </div></p>
    
        <a href=/student/courses/<%=courseinfo.course.name%> class="btn btn-primary stretched-link">View</a>
      </div>
    </div>
  <% }) %>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>
     


<%- include('../partials/footer') %>